---
layout: default
section: home
---
<div>
  {% for section in site.data.sections %}
    {% assign sectionkey = section[0] %}
    {% assign sectionitem = section[1] %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <section id="{{section[0]}}" class="section-item{% if thecycle == 'odd' %} section-alt{% endif %}">
    <div class="container-fluid">
    {% if sectionitem.title %}
    <div class="page-title text-center">
      <h2>{{sectionitem.title}}</h2>
      <div class="lead"><p>{{sectionitem.leadin}}</p></div>
    </div>
    {% endif %}
    <div class="section-content container">
      {% include  sections/{{sectionkey}}.html %}
    </div>
  </div>
  </section>
  {% endfor %}
</div>
