<div class="row">
  <div class="col-md-6">
    <h3>{{site.data.texts.donate.bail-fund.header}}</h3>
    <p>{{site.data.texts.donate.bail-fund.text}}</p>
    <a class="btn btn-lg btn-primary btn-block" href={{site.data.texts.donate.bail-fund.link}}>Donate Now</a>
  </div>
  <div class="col-md-6">
    <h3>{{site.data.texts.donate.jail-support-fund.header}}</h3>
    <p>{{site.data.texts.donate.jail-support-fund.text}}</p>
    <a class="btn btn-lg btn-primary btn-block" href={{site.data.texts.donate.jail-support-fund.link}}>Donate Now</a>
  </div>
</div>
