{% assign updates = site.categories.updates %}
{% for update in updates %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
      <div class="row">
        <div class="col-md-4">
          <div class="text-left">
             <a href={{site.baseurl}}{{update.url}}><h4>{{update.title}}</h5></a>
            <p>{{update.content | truncatewords: 60}}</p>
          </div>
        </div>
    {% else if loopindex == 2 %}
        <div class="col-md-4" >
          <div class="text-left">
             <a href={{site.baseurl}}{{update.url}}><h4>{{update.title}}</h5></a>
            <p>{{update.content | truncatewords: 60}}</p>
          </div>
        </div>
    {% else if loopindex == 3 %}
        <div class="col-md-4">
          <div class="text-left">
             <a href={{site.baseurl}}{{update.url}}><h4>{{update.title}}</h4></a>
             <p >{{resource.content | truncatewords: 60}}</p>
          </div>
        </div>
      </div>
    {% endif %}
{% endfor %}
