section.section-item {
    .page-title {
      h2 {
        font-size: $font-size-h1 + 12;
      }
      h3 {
        font-size: $font-size-h1;
      }
    }
    padding: 10em 0em;
    color: inherit;
    &.section-alt {
      background-color: darken($table-bg-accent, 10%);
    }
    &#home {
      background:{
        color: #FFFFFF;
        size: cover;
        position: center center;
        attachment: fixed;
      }
      .page-title {
        padding: 60px;
        color: #000000;
        h2 {
          color: #000000;
        }
      }
      .cta-section {
        color: #000000;
        h2 {
          color: darken($text-color, 90%);
          font-size: 300%;
        }
      }
    }
}
footer {
  padding:4em 0;
  background-color: #000000;
  color: #FFD700;
  a, h1, h2, h3, h4 {
      color: #FFFFFF;
  }
}
#back-to-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #000000;
  padding: 1em;
  a {
    color: #FFD700;
    text-decoration: none;
  }
}

form {
  @extend .form-horizontal;
  .form-item {
    @extend .form-group;
    label {
      color: $text-color;
      @extend .control-label;
    }
  }
  input[type="text"], textarea, select {
      @extend .form-control;
  }
  input[type="submit"]{
    @extend .btn;
  }
}

.btn-lg {
  font-size: 120%;
  white-space: normal;
}

#home {
  .row {
    margin-top: 2em;
    margin-bottom: 2em;
    &>div {
      margin-bottom: 1em;
    }
  }
}
.update {
  margin-top: 10em;
}
ul {
  padding-left: $font-size-base;
}
.row.spaced {
  & > div {
    padding-bottom: 4em;
  }
}

.alert {
  margin-top: 2em;
}
