section.section-item {
    .page-title {
      h2 {
        font-size: $font-size-h1 + 8;
      }
    }
    padding: 10em 0em;
    color: inherit;
    &.section-alt {
      background-color: darken($table-bg-accent, 10%);
    }
    &#home {
      background:{
        color: $link-color;
        size: cover;
        position: center center;
        attachment: fixed;
      }
      .page-title {
        padding: 60px;
        color: lighten($text-color, 80%);
        h2 {
          color: lighten($text-color, 80%)
        }
      }
      .cta-section {
        padding: 60px;
        background-color: lighten($text-color, 20%);
        opacity: .9;
        color: darken($text-color, 80%);
        h2 {
          color: darken($text-color, 90%);
          font-size: 300%;
        }
      }
    }
}
footer {
  padding:4em 0;
  background-color: $link-color;
  color: $body-bg;
  a, h1, h2, h3, h4 {
      color: $body-bg;
  }
}
#back-to-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: $text-color;
  opacity: .8;
  padding: 1em;
  a {
    color: $body-bg;
    text-decoration: none;
  }
}

form {
  @extend .form-horizontal;
  .form-item {
    @extend .form-group;
    label {
      color: $text-color;
      @extend .control-label;
    }
  }
  input[type="text"], textarea, select {
      @extend .form-control;
  }
  input[type="submit"]{
    @extend .btn;
  }
}

.btn-lg {
  font-size: 120%;
  white-space: normal;
}

#home {
  .row {
    margin-top: 2em;
    margin-bottom: 2em;
    &>div {
      margin-bottom: 1em;
    }
  }
}
.update {
  margin-top: 10em;
}
