{% assign resources = site.categories.resources | where: "faqtype", include.type %}
  {% for resource in resources %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
          <div class="col-md-6 text-align-left" >
            <div>
               <h4>{{resource.title}}</h5>
              <p>{{resource.content}}</p>
            </div>
          </div>
      {% else %}
         <div class="col-md-6 text-align-left">
              <div>
               <h4>{{resource.title}}</h4>
              <p>{{resource.content}}</p>
            </div>
          </div>
        </div>
      {% endif %}
  {% endfor %}
