{% assign resources = site.categories.resources | where: "resourcetype", include.type %}
{% if resources[0] %}
<h2 class="text-center">Resources</h2>
{% endif %}
{% for resource in resources %}
    {% assign loopindex = forloop.index | modulo: 3 %}
    {% if loopindex == 1 %}
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="text-center">
             <a target="_blank" href={{resource.link}}><h4>{{resource.title}}</h4></a>
            <div>{{resource.content}}</div>
          </div>
        </div>
    {% else if loopindex == 2 %}
        <div class="col-md-4" >
          <div class="text-center">
             <a target="_blank" href={{resource.link}}><h4>{{resource.title}}</h4></a>
            <div>{{resource.content}}</div>
          </div>
        </div>
    {% else if loopindex == 0 %}
        <div class="col-md-4 text-center">
          <div class="text-center">
             <a target="_blank" href={{resource.link}}><h4>{{resource.title}}</h4></a>
             <div>{{resource.content}}</div>
          </div>
        </div>
      </div>
    {% endif %}
{% endfor %}
